@import "../styles/main";

.date-input {
  font-size: 0.75rem;
  width: 15.5em;
  position: relative;
  &--open {
    .date-input__calendar {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }
  &__outside-click {
    display: inline-block;
    width: 100%;
  }
  &__input {
    @extend .input;
    @include z-index(menu);
    display: inline-block;
    position: relative;
    padding: 0 0.4em;
    height: 2.25em;
    width: 14em;
    flex: 1 1 12em;
  }
  &__calendar-button {
    @extend .button;
    @include z-index(menu);
    position: relative;
    vertical-align: middle;
  }
  &__calendar {
    @include z-index(menu-underlay);
    position: absolute;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    visibility: hidden;
    opacity: 0.2;
    transform: translateY(-2.25em);
    transition: all 0.2s ease-out;
  }
  &__calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border: $radius-control $radius-control 0 0;
  }
  &__calendar-body {
    border: 0 0 $radius-control $radius-control;
    background-color: $white;
    height: 14em;
  }
  &__calendar-days {
    display: flex;
    padding: 0 0.1em;
    width: 100%;
  }
  &__calendar-day {
    font-size: 0.875em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25em;
    height: 2em;
    margin: 0.1em;
    &.hidden {
      visibility: hidden;
    }
    &.boxed {
      @extend .button;
      border: 1px solid $grey-lighter;
      border-radius: $radius-control;
      &:hover,
      &:active,
      &:focus {
        background-color: $grey-light;
      }
    }
    &:focus {
      outline: none;
      border-color: $grey-dark;
    }
  }
  &__month-nav {
    @extend .button;
    outline: none;
    &:hover,
    &:active,
    &:focus {
      background-color: $grey-lighter;
    }
  }
}
