@import "../styles/main";

.date-input {
  font-size: 0.75rem;
  width: 15.5em;
  position: relative;
  display: inline-block;
  &--open {
    .date-input__calendar {
      transform: translateY(0);
    }
  }
  &__input {
    @extend .input;
    @include z-index(menu);
    display: inline-block;
    position: relative;
    padding: 0 0.4em;
    height: 2.25em;
    width: 14em;
    flex: 1 1 12em;
  }
  &__calendar-button {
    @extend .button;
    @include z-index(menu);
    position: relative;
    vertical-align: middle;
  }
  &__calendar {
    @include z-index(menu-underlay);
    position: absolute;
    display: inline-block;
    width: 100%;
    transform: translateY(-120%);
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
  }
  &__calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border: $radius-control $radius-control 0 0;
  }
  &__header-month {

  }
  &__calendar-body {
    border: 0 0 $radius-control $radius-control;
    background-color: $white;
    height: 12em;
  }
  &__month-nav {
    @extend .button;
    outline: none;
    &:hover,
    &:active,
    &:focus {
      background-color: $grey-lighter;
    }
  }
}
